body {
  margin: 0;
}

#banner-home {
  width: 100%;
}

.principal-home {
  background-color: #ccc;
  padding: 30px;
}

.titulo-principal-home {
  padding-left: 20px;
}

.titulo-centralizado-home {
  text-align: center;
}

p {
  text-align: center;
}

#missao-home {
  font-size: 20px;
}

em strong {
  color: red;
}

.itens-home {
  font-style: italic;
}

.beneficios {
  background-color: #fff;
  padding: 20px;
}

h2 {
  text-align: center;
}

.ul-home {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios-home {
  width: 50%;
}
